* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.header div{
    background-color: #DDD;
    padding: 8px 12px;
    border-radius: 8px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 50px;
    align-items: center;
}



ul {
  list-style: none;
  padding: 24px;
  margin: auto;
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  justify-items: center;
  justify-content: center;
  height: calc(75vh);
}

li {
  background-color: #222;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #ddd;
  border-radius: 8px;
}
